@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;/* needed a vertical height to center justify-content */
    margin: 0;
    overflow: hidden;
}

.bg {
    background: no-repeat center center;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);/* initial blur */
}

.loading-text {
    font-size: 50px;
    color: white;
}